<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name = "base_url" value = "https://www.daft.ie/"/>
    <parameter name = "browser" value = "chrome"/>
    <parameter name="wait_duration" value="10"/>
    <test verbose="2" preserve-order="true" name="/Users/vikassp/IdeaProjects/selenium-test">
        <classes>
            <class name="com.daft.DaftTest">
                <parameter name = "area" value = "County dublin"/>
                <parameter name = "filter_keyword" value = "garage"/>
                <methods>
                    <include name="checkHomePageAccess"/>
                    <include name="searchBoxInput"/>
                    <include name="searchResultAreaPage"/>
                    <include name="sendFilterKeyword"/>
                    <include name="checkFilteredResult"/>
                    <include name="checkAnyFilteredRes"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>